html,body,#app{
    height:100%;
    margin: 0;
    padding: 0%;
    min-width: 1366px;
    overflow: hidden;
}

.box-card-box{
    margin-top: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)!important;
}

.svn-copy{
    color:skyblue;
    width:100%;
    cursor: pointer;
    height: 100%;
    font-size:14px
}

.v-note-wrapper {
    border: 0 !important;
}

/* .v-note-panel {
    border: none !important;
} */

/* .v-show-content {
    background-color: white !important;
} */
/* .v-show-content>h2:first-child {
    margin-top: 0px !important;
} */
.markdown-body pre  {
    font-size: 1.35em !important;
    line-height: 1.45 !important;
}